.navbar {
    padding-bottom: 0;
    padding-top: 0; 
}

.header {
    height: 60px;
    box-shadow: 1px 1px 5px black;
    background-color: rgba(255, 255, 255, 0);
}

.navbar-collapse {
    background-color: rgb(150, 116, 194);
}

.collapse {
    position: static;
}

.d-flex{
    justify-content: center
}

h1 {
    margin-top: 100px;
}

h2 {
  padding: 20px 0px 0px 0px;
}

#content-section {
    min-height: 1000px;
    width: 90%;
    background-color: aqua;
    margin-top: 50px;
    margin-bottom: 70px;
}